@charset "UTF-8";
/* CSS Document */

body {
	background-color: white;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	color: #EE721E;
} 

img {
	height: 100px;
	position: absolute;
	left: 0;
	top: 5px;
}

.top-bar {
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: space-between;
	background: white;
	height: 110px;
	padding: 5px;
	
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

a {
	padding: 15px;
	overflow: hidden;
	text-decoration: none;
}

.menu-box {
	height: 100%;
	width: 30px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon, .icon::before, .icon::after {
	display: block;
	background: black;
	position: absolute;
	height: 4px;
	width: 30px;
	border-radius: 2px;
	transition: transform 400ms;
}

.icon::before {
	content:"";
	margin-top: -8px;
	
}

.icon::after {
	content:"";
	margin-top: 8px;
}

#activate:checked + .menu-box .icon::before {
	margin-top: 0;
	transform: rotate(45deg);
}

#activate:checked + .menu-box .icon::after {
	margin-top: 0;
	transform: rotate(-405deg);
}

#activate:checked + .menu-box .icon{
	background: rgba(188,90,91,0)
}

#activate {
	display: none;
	
}

.menu-box {
	display: none;

}

@media screen and (max-width: 700px) {
	.menu-box {
		display: flex;
	}
	
	.menu {
		position: absolute;
		top: 0;
		margin-top: 110px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		
	}
	
	#activate ~ .menu a {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms;
	}
	
	#activate:checked ~ .menu a {
		border: 1px solid white;
		height: 40px;
		padding: 5px;
		transition: height 400ms;
	}
	
	.menu a {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 5px;
		width: 100%;
		background: #2C353B;
			
			}
	}

.black-box {
    width: 100%;
    height: 100px;
    background-color: black;
    resize: none; 
  }

.styled-image {
    width: 600px; 
    height: auto;
	margin-left: 900px;
	margin-top: 300px;
}

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
	padding: 500px 30px 30px 30px;  
	height: 30vh;
	  
  }

  .orange-box {
    width: 180px;
    height: 150px;
    background-color: #EE721E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 50px;   
  }

  .box-text {
    font-size: 18px;
    color: white;
    text-align: center;
  }


.textme {
  font-size: 40px;
  font-weight: bold;	
  position: absolute;
  right: 20px;
  top: 300px;
  left: 50%; 
  transform: translateX(-50%); 
}

.centered-text1 {
  font-size: 20px;
  font-weight: bold;	
  position: absolute;
  right: 20px;
  top: 400px;
  left: 50%; 
  transform: translate(-30%, -50%);	
}

footer {
    background-color: black;
    color: white !important;
    padding: 10px;
    text-align: center;
	height: 3%;
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
}

.footer-text {
    display: inline-block;
    margin: 0 10px;
}


.front-page {

  margin: 0;

  padding: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

}


.kompetencer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kompetencer-image {
    width: 450px; 
    height: auto;
	margin-left: 150px;
	margin-top: 220px;
}

.kompetencer2-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kompetencer2-image {
    width: 450px; 
    height: auto;
	margin-left: 850px;
	margin-top: 220px;
}

.container-cases {
  justify-content: center;
  align-items: flex-start;
  height: 30vh; 
}

.cases {
    width: 480px;
    height: 350px;
    background-color: #EE721E;
    align-items: flex-start;
    margin: 10px; 
    color: white;
	top: 10px;
	margin-left: 500px;
	margin-top: -150px;
	margin-right: 100px;
}

.cases-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 155px;
}


.contact-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 55px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.centered-text2 {
  font-size: 50px;
  font-weight: bold;	
  position: absolute;
  right: 20px;
  top: 300px;
  left: 50%; 
  transform: translate(-40%, -50%);
  text-decoration: underline;
}

.about-grid {
    display: grid; 
    grid-template-columns: 7% 6% 30% 30% 30%; 
    margin-top: 150px;
    margin-bottom: 75px;
	
}

.about-flex {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
}

.box1 {
    color: white; 
    background: #EE721E; 
    width: 150px;
    height: 50px; 
    padding: 10% 5% 5% 5%; 
    margin: 30px; 
    text-align: center; 
}

.box2 {
    color: white; 
    background: #EE721E; 
    width: 80%;
    height: 100px; 
    padding: 10% 25% 5% 10%;  
    text-align: center; 
	font-size: 20px;
}

h1 {
    padding: 15px 40%; 
	font-size: 25px;
	text-align: center;
}




